<!DOCTYPE html>
<html>
<head>
  <title>Movie Review Analyzer</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>🎬 Movie Review Analyzer</h1>

    <input type="text" id="url" placeholder="Paste IMDb/Wikipedia URL OR type Movie Name">
    <input type="file" id="csvFile">
<button onclick="uploadCSV()">Upload CSV & Train Model</button>

    <button onclick="analyzeMovie()">Analyze</button>
    <div id="result" class="result-box"></div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
